PORT=3001
JWT_SECRET=tu_secreto_jwt_aqui

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=tu_cuenta@gmail.com
EMAIL_PASS=tu_app_password
EMAIL_FROM="Teclia <tu_cuenta@gmail.com>"